<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection"
         connectionString="SERVER=localhost; DATABASE=proyecto_estetica; UID=root; PASSWORD=RousLee;"
         providerName="Sistem.Data.MySqlClient" />
  </connectionStrings>
  
  <startup>

  </startup>
</configuration>